<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c9acd95d-34fe-4603-b50a-89c27c045b02/resourceGroups/juztest/providers/Microsoft.Web/sites/CustomEmojiWebAPI20211013094948</ResourceId>
    <ResourceGroup>juztest</ResourceGroup>
    <ApiResourceId>/subscriptions/c9acd95d-34fe-4603-b50a-89c27c045b02/resourceGroups/juztest/providers/Microsoft.ApiManagement/service/CustomEmojiWebAPIapi/apis/customemoji</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://customemojiwebapi20211013094948.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>425efed9-0ab1-4368-a4ad-91ab0b846d01</ProjectGuid>
    <MSDeployServiceURL>customemojiwebapi20211013094948.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CustomEmojiWebAPI20211013094948</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CustomEmojiWebAPI20211013094948</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>